<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.photrast.project">
    <!-- 포그라운드 위치 필요성 선언 -->
    <!-- To request foreground location access, declare one of these permissions. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 포그라운드 위치 필요성 선언 끝 -->

    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
<uses-permission android:name="android.permission.INTERNET"/>
</manifest>